

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Wildflower Teacher Portal</title>
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/style.min.css') }}" />
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/icon.png') }}">
        <link href="http://wildflower-teacher-portal.herokuapp.com" rel="canonical">
    </head>

    
    <body class="home" id="home">
    
        
        <div class="container">
            <header class="main-header" id="mainHeader">
                <nav class="main-menu" id="nav">
                    <ul>
                        <li style="width:10%"><a href="/home"><img src="{{ url_for('static', filename='img/aster.jpg') }}"></a></li>
                        <li class="first" style="padding:12px;margin-top:12px;"><a href="/students">students</a></li>
<li style="padding:12px;margin-top:12px;"><a href="/teachers">teachers</a></li>
<li style="padding:12px;margin-top:12px;"><a href="/materials">materials</a></li>
<li style="padding:12px;margin-top:12px;"><a href="/classroom">classroom</a></li>
<li style="padding:12px;margin-top:12px;"><a href="/notes">notes</a></li>
<li style="padding:12px;margin-top:12px;"><a href="mailto:aybose@mit.edu?Subject=Sensei%20Portal">Contact</a></li>
<li class="last" style="padding:12px;margin-top:12px;"><a href="/logout">logout</a></li>         
                    </ul>
                </nav>

            </header>
            <img id="homeImg" src="{{ url_for('static', filename='img/wavy-line.png') }}" style="width:860px; margin-top:30px;margin-left:200px">

<div class="l-content" style="margin-top:100px;max-width:750px;padding:0 25px 25px;">
        <div class="text-body text-body--purple text-body--spacer" style="width:860px">
            <h1> Classroom page </h1>
            Region Tracker viz here
            <br>
        </div>
</div>
</div>
        <!-- .container -->
        <a href="#" class="arrow" id="arrow" data-start="opacity: 0;" data-100="opacity: 1;"></a>
        <script type="text/javascript" src="{{url_for('static', filename='js/scripts.min.js')}}"></script>
    </body>
</html>






